@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


html {
  font-family: 'Plus Jakarta Sans';
}

body {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: blanchedalmond;
}

form {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(20deg, rgba(255, 255, 255, 0.594), rgba(226, 226, 226, 0.472));
  /* border: 1px solid black; */
  box-shadow: 5px 5px 7px rgb(92, 92, 92);
  width: 250px;
  padding: 1rem 0;
  color: rgb(134, 56, 18);
  border-radius: 1rem;
}

input { 
  display: block;
  width: 100%;
  margin-bottom: .4rem;
}

#add {
  display: block;
  margin-top: 1rem;
  background: linear-gradient(rgba(211, 121, 17, 0.693), rgba(102, 0, 255, 0.768));
}

button {
  background: linear-gradient(rgba(179, 23, 23, 0.467), rgba(102, 0, 255, 0.507));
  padding: .5rem 1rem;
  margin: auto;
  border-radius: 1.1rem;
  color: white;
  border: none;
}

button:hover, #add:hover {
  background: linear-gradient(rgba(87, 20, 221, 0.827), rgba(70, 4, 169, 0.507));
}
button:active, #add:hover {
  background: linear-gradient(rgba(43, 6, 190, 0.827), rgba(0, 0, 0, 0.507));
}

.lista {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 800px;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  margin: auto;

}


table { 
  background: linear-gradient(wheat, white);
  /* border: solid black 2px; */
  padding: 1rem;
  border-radius: 1rem;
    box-shadow: 5px 5px 7px rgb(92, 92, 92);

}

td {
  padding: .4rem;
}


strong {
  padding: .5rem;
}